################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/tasks.vs.json
/.vs/slnx.sqlite
/.vs/sierpinski-gasket.js/v15/.suo
/.vs/sierpinski-gasket.js/v15
/.vs/ProjectSettings.json
/.vs/config/applicationhost.config
/.vs/config
